[submodule "tests"]
	path = tests
	url = git@github.com:zahalski/awz.bxbuild.tests.git
[submodule "bxbuild"]
	path = bxbuild
	url = git@github.com:zahalski/awz.bxbuild.tools.git
[submodule "tools/build"]
	path = tools/build
	url = git@github.com:azahalski/awz.bxbuild.tools.git
[submodule "tools/tests"]
	path = tools/tests
	url = git@github.com:azahalski/awz.bxbuild.tests.git
